<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <h3>Customer list</h3>
    <table style="border: 1px solid">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        <tr th:each="c:${customers}">
            <td th:text="*{c.id}"></td>
            <td th:text="*{c.name}"></td>
            <td th:text="*{c.email}"></td>
            <td th:text="*{c.address}"></td>
        </tr>
    </table>
</body>
</html>